---
---

@import "{{ site.theme }}";

body {
    background-color: #F0E2E7;
    padding:25px;
    font-size:10pt;
}

#wrapper {
    width:800px;
    margin:0 auto;
}

#nav {
    margin: left;
    padding-bottom: 0.5em;
    margin-bottom: 20px;
    border-bottom: 2px solid #DA9D36;
}

 #content {
    margin:0 0 20px;
 }

 table {
    margin-bottom: $spacing-unit;
    width: 100%;
    text-align: $table-text-align;
    color: lighten($text-color, 18%);
    border-collapse: collapse;
    border: 0px;
    tr {
      &:nth-child(even) {
        background-color: lighten($grey-color-light, 6%);
      }
    }
    th, td {
      padding: ($spacing-unit / 3) ($spacing-unit / 2);
    }
    th {
      background-color: lighten($grey-color-light, 3%);
      border: 0px;
      border-bottom-color: darken($grey-color-light, 12%);
    }
    td {
      border: 0px;
    }
  }

  blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color;
    padding-left: $spacing-unit / 2;
    @include relative-font-size(0.9);
    letter-spacing: -1px;
    font-style: italic;
    display: inline-block;
    > :last-child {
      margin-bottom: 0;
    }
  }

h1, h2 {
  font-weight: normal;
}

h2 {
    color: #b6446c;
    font-weight: bold;
}

h2, h3 {
  margin-bottom: 1em;
}

h2:not(:first-child) {
  margin-top: 1em;
}

li {
  margin-bottom: 0em;
}

li p {
  margin-bottom: 0;
  margin-top: 0;
}

#img_cont {
    width:17%; 
}

#rand_oct {
    margin: -35px -10px -10px -10px;
}

#nav h2 {
  display: inline-block;
  margin: 0;
  color: #6B148B;
  font-size: 32px;
}

#nav h3 {
    display: inline-block;
    margin: 0;
    color: #646366;
    font-size: 18px;
  }

#nav ul {
  list-style-type: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  float: right;
//   margin-left: 1em;
}

#nav li {
  display: inline-block;
  margin: 0;
  font-size: 18px;
}

#nav ul a {
  text-decoration: none;
  padding: 0 0.5em;
  color: #646366;
}

#nav ul a.current {
  text-decoration: underline;
  color: #DA9D36;
}

#content img {
  width: 100%;
  border-radius: 5px;
}

p {
  margin-bottom: 1em;
  text-align: justify;
}

@media print, screen and (max-width: 960px) {

    #wrapper {
      width:auto;
      margin:0;
    }
 
    #nav {
        margin: left;
        padding-bottom: 0.5em;
        margin-bottom: 10px;
        border-bottom: 2px solid #DA9D36;
    }

    #nav ul, #nav p.view {
        position:static;
        display:inline;
      }

    #content {
      padding:10px 0;
      margin:0 0 10px;
    }
     
    nav a small {
      display:inline;
    }
  
    nav ul {
      position:absolute;
      right:50px;
      top:52px;
    }
  }
  
  @media print, screen and (max-width: 720px) {
    body {
      word-wrap:break-word;
    }

    #nav {
        margin: right;
        padding-bottom: 0.5em;
        margin-bottom: 10px;
        border-bottom: 2px solid #DA9D36;
    }

    #img_cont {
        width:17%; 
    }

    #nav ul, #nav p.view {
      position:static;
    }
  
    pre, code {
      word-wrap:normal;
    }
  }
  
  @media print, screen and (max-width: 480px) {
    body {
      padding:15px;
    }
  
    .downloads {
      width:99%;
    }
  
    .downloads li, .downloads li + li + li {
      width:33%;
    }

  }
  
  @media print {
    body {
      padding:0.4in;
      font-size:12pt;
      color:#444;
    }

  }